{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordCounter</title>
</head>
<body>
    <h1>WordCounter</h1>
    <section class="main">
        <div class="inner">
            <form action="/" method="post">
                {% csrf_token %}
                <div class="pair">
                    <div class="key">
                        <h2>Enter the text or paragraph for counting the words</h2>
                    </div>
                    <div class="value">
                        <textarea required name="data" id="data" cols="65" rows="18"></textarea>
                    </div>
                </div>
                <div class="subbutton">
                    <button type="submit">Count Words</button>
                </div>
            </form>
            <h1 id="ans" style="opacity:0;">Number of words in the given data is .</h1>
            {% if dic %}
                <h1>Number of words in the given data is {{ dic }}.</h1>
            {% endif %}
        </div>
    </section>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>